{% extends "::layout.html.twig" %}

{% block title %}
  Articles - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Articles</h1>

  <hr> {# balise permettant de délimiter différentes sections #}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block clblog_body %}
  {% endblock %}

{% endblock %}



  